<br />
<img src="~/produtos/Admin.jpg" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <div>
            <h2>Acesso Negado!</h2>
        </div>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>