
@{
    ViewData["Title"] = "Menu";
}
<header class="header">
    <div class="overlay">
        <h1 class="subtitle">O evento dos seus sonhos realizamos aqui.</h1>
        <h1 class="title">Matriz Decor</h1>
    </div>
    <div class="shape">
        <svg viewBox="0 0 1500 200">
            <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
        </svg>
    </div>
    <div class="mouse-icon"><div class="wheel"></div></div>
</header>
    
    <section id="service" class="section mt-3">
        <div class="container">
            <h5 class="section-title text-center">Nossos Serviços</h5>
            <h5 class="section-subtitle text-center mb-5 pb-3">Alugueis de produtos decorativos e decoração do seu evento.</h5>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">01</small>
                            <h5 class="card-title mt-2">Aluguel de Produtos de Decoração para Eventos</h5>
                            <p class="mb-4">Oferecemos uma ampla variedade de produtos decorativos para tornar seu evento verdadeiramente especial. Seja um casamento elegante, uma festa de aniversário divertida ou uma formatura emocionante, temos o que você precisa para criar a atmosfera perfeita. Nossa coleção inclui desde móveis sofisticados e peças de arte exclusivas até itens temáticos e acessórios encantadores. Com o nosso serviço de aluguel, você pode transformar qualquer espaço em um ambiente deslumbrante e memorável.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">02</small>
                            <h5 class="card-title mt-2">Serviço de Decoração Profissional</h5>
                            <p class="mb-0">Oferecemos um serviço completo de decoração para o seu evento. Nossa equipe de profissionais altamente qualificados e criativos está pronta para transformar sua visão em realidade. Trabalharemos em estreita colaboração com você, entendendo suas preferências e estilo, para criar uma decoração personalizada que reflita perfeitamente o tema e a atmosfera desejados. Deixe-nos cuidar de todos os detalhes, desde o planejamento inicial até a montagem final., para que você possa desfrutar do seu evento sem preocupações.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            <small class="text-primary font-weight-bold">03</small>
                            <h5 class="card-title mt-2">Qualidade e Compromisso</h5>
                            <p class="mb-4">Nosso compromisso é fornecer serviços de alta qualidade, garantindo que cada detalhe seja perfeito. Nossos produtos são cuidadosamente selecionados e mantidos em excelentes condições para garantir que você receba apenas o melhor. Além disso, nossa equipe é experiente e apaixonada pelo que faz, trabalhando com dedicação e atenção aos detalhes para criar experiências incríveis para nossos clientes. Quando escolher nossos serviços, você pode confiar que seu evento receberá a atenção que merece e que faremos tudo ao nosso alcance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">Sobre nós</h6>
                    <h6 class="section-subtitle mb-4">Transformando seus eventos em momentos inesquecíveis</h6>
                    <p>Somos uma empresa especializada em decoração de eventos e aluguel de materiais decorativos. Nossa missão é criar ambientes incríveis e personalizados para cada ocasião especial. Seja um casamento elegante, uma formatura emocionante ou qualquer outro tipo de evento, estamos aqui para torná-lo único e memorável.</p>
                    <img src="~/Images/CasamentoImagem.jpg" alt="" class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/Images/Aniversario.jpg" alt="" class="w-100 h-100 shadow-sm">
                        </div>
                        <div class="col-6">
                            <img src="~/Images/Formatura01.jpg" alt="" class="w-100 h-100 shadow-sm">
                        </div>
                        <div class="col-12 mt-4">
                            <p>Nossa equipe de profissionais altamente qualificados está pronta para transformar sua visão em realidade. Oferecemos um amplo catálogo de materiais decorativos, desde móveis sofisticados até peças temáticas e acessórios encantadores. Com o nosso serviço de aluguel, você pode criar a atmosfera perfeita para o seu evento, adicionando estilo, elegância e personalidade.</p>
                            <p>
                                <b>Conte conosco para cuidar de todos os detalhes da decoração do seu evento, desde o planejamento inicial até a montagem final. </b><br>
                            </p>
                            <p>Nossa paixão pelo que fazemos e nosso compromisso com a qualidade garantem que cada evento seja tratado com atenção especial. Estamos aqui para proporcionar uma experiência excepcional e superar suas expectativas. Confie em nós para criar momentos inesquecíveis em seus eventos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Testmonial Section -->
<section class="section" id="testmonial">
    <div class="container">
        <h6 class="section-title text-center mb-2">O que nossos clientes dizem:</h6>
        <div class="row">
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/Images/lua.png" alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Luana Salles</h6>
                                <small class="text-muted mb-0">Debutante</small>
                            </div>
                        </div>
                        <p class="mb-0">Estou impressionada com a variedade e qualidade dos produtos oferecidos pela empresa. Encontrei exatamente o que estava procurando para a decoração da minha casa. Além disso, o atendimento foi excepcional, com profissionais atenciosos e prestativos. Recomendo a todos!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/Images/celle.jpg" alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Marcelle Ramos</h6>
                                <small class="text-muted mb-0">Aniversariante</small>
                            </div>
                        </div>
                        <p class="mb-0">
                            Adorei a experiência de compra na loja. Os produtos são de alta qualidade e com preços competitivos. O atendimento foi impecável, 
                            com uma equipe simpática e prestativa, pronta para tirar todas as minhas dúvidas. Com certeza voltarei a comprar novamente!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3 my-md-0">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-3">
                            <img class="mr-3" src="~/Images/gabi.jpg" alt="">
                            <div class="media-body">
                                <h6 class="mt-1 mb-0">Gabriela Passos</h6>
                                <small class="text-muted mb-0">Formanda</small>
                            </div>
                        </div>
                        <p class="mb-0">
                            A loja oferece uma ampla seleção de produtos de decoração que atendem a todos os gostos. A qualidade dos itens é excepcional, 
                            e os produtos são exatamente como apresentados nas fotos.Atendimento foi rápido e eficiente, tornando a experiência de compra agradável.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








