<div class="container d-flex justify-content-center align-items-center flex-column" style="height:100vh">
    <div class="jumbotron d-flex justify-content-center align-items-center flex-column mt-lg-5 p-3">
        <img src="~/Images/AdminImage.png" style="height:80%;width:80%" />
        <p>
            <h2 class="text-center"> Área do Administrador</h2>
        </p>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar para página inicial</a>
</div>