@model TccMvc.Models.Categoria

@{
    ViewData["Title"] = "Details";
}
<section class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh">
    <h1>Detalhes</h1>
    <h4 class="mb-4">Categoria</h4>
    <div class="mb-4">
        <b>@Html.DisplayNameFor(model => model.Nome)</b>  :  @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="mb-4">
        <b>@Html.DisplayNameFor(model => model.Descricao)</b>  :   @Html.DisplayFor(model => model.Descricao)
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</section>

